@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font-bold {
    font-family: "Azeret Mono", monospace;
    font-weight: ;
}

*{
    margin: auto;
    padding: 0;
}

body{
    max-width: 1280px;
    /* border: 2px solid black; */
}

.nav-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
}

nav>div>button {
    background-color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

body>header>section{
    height: 550px;
   background-image: url('../assets/Hero-bg.png');
}